<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>


<header class="header-home">

        
                <a class="link-new" href="/<%= car[0].car_id %> ">Découvrer la nouvelle <%= car[0].marque_name %> <%= car[0].name %>   </a>
        

        <img class="img-new" src="../img/mercedes-eqs.png" alt="" height="0%" width="80%" >

</header>

















<%- include('partials/footer.ejs') %>